/*
   Dummy stylesheet allowing for some customisation without having to
   copy and modify the other stylesheets.
*/
img {
    max-width: 700px;
    max-height: 600px;
}

li img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

li table {
    margin-top: 10px;
    margin-bottom: 10px;
}
